@import "./settings/colors";
@import "./settings/fonts";


body {
  font-family: $font-base;


}


.menubox {
  width: 638px;
  height: 95px;
  display: flex;
  flex-direction: column;
  gap: 17px;


  a {
    text-decoration: none;

  }


  .up {
    width: 683px;
    height: 36px;

    display: flex;
    justify-content: flex-end;
    align-items: center;


    .upleft {
      width: 158px;
      height: 36px;
      display: flex;
      margin-right: 30px;


    }

    .upbtn {
      width: 71px;
      padding-left: 5px;
      padding-right: 5px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.75px solid transparent;


      &:hover {
        border-color: #FAD648;


      }

      .btntxt {

        font-size: 13px;
        font-family: $font-base;
        color: #737373;


      }

    }


  }


  .down {
    width: 683px;
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .downbtn {

      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      padding-left: 20px;
      padding-right: 20px;
      border: 0.75px solid transparent;

      &:hover {
        border-color: #3C3C3C;


      }
    }


    .btntxt {

      font-size: 18px;
      font-family: $font-base;
      color: #3C3C3C;

    }

  }

}

.homebox {
  width: 100vw;
  height: 963px;
  display: flex;

  .left {
    width: 885px;
    height: 963px;
    background-image: url("../assets/Hero Image.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;


  }


  .right {
    width: 1015px;
    height: 963px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
      margin-top: 37px;
      margin-left: 52px;

    }


    .front {
      width: 674px;
      height: 350px;

      margin-top: 220px;
      margin-right: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .help {
        width: 674px;
        height: 107px;
        text-align: center;

        .helptxt {
          font-family: $font-base;
          color: #3C3C3C;
          font-size: 38px;
          letter-spacing: -0.76px;
          font-weight: 400;


        }


      }

      .jpg {
        margin-top: 35px;
        width: 253px;
        height: 33px;

        background-image: url("../assets/Decoration.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


      }


      .btns {
        width: 674px;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 65px;

        a {

          text-decoration: none;


        }


        .btn {
          width: 310px;
          height: 120px;
          border: 0.75px solid #3C3C3C;
          display: flex;
          justify-content: center;
          align-items: center;


          .btntxt {
            text-align: center;
            font-family: $font-base;
            color: #3C3C3C;
            font-size: 36px;
            font-weight: 300;


          }
        }


      }
    }

  }


}

.registermain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  .top {

    width: 100%;
    height: 130px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 400px;


  }

  .bottom {

    width: 384px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 30px;


    .make {

      color: #3C3C3C;
      font-family: $font-base;
      font-size: 40px;
      font-weight: 400;


    }


    .jpg {


      width: 253px;
      height: 33px;

      background-image: url("../assets/Decoration.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


    }


    .form {
      background-color: #F0F1F1;
      width: 385px;
      height: 328px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: auto;
      margin-bottom: 0;
      margin-top: 50px;
    }


    .label-form {
      margin-bottom: 20px;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #3C3C3C;
    }


    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #707070;
      margin-bottom: 20px;
      outline: none;
      font-size: 18px;
    }


    .btns {
      width: 500px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;


    }


    .submit, .login {

      width: 117px;
      height: 50px;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 18px;
      padding: 10px;
      outline: none;
      font-family: $font-base;
      font-weight: 300;


    }

    .submit {
      margin-left: 265px;
      transform: translateY(100px);


    }


    .submit:hover, .login:hover {
      border: 1px solid #3C3C3C;
    }


  }
}

.form2 {

  background-color: #F0F1F1;
  width: 385px;
  height: 328px;
  display: flex;
  justify-content: center;
  align-items: center;


}


.emerr {
  width: 300px;
  height: 20px;
  background-color: #F0F1F1;
  position: absolute;


}

.emer {
  font-family: $font-base;

  position: absolute;
  transform: translateY(-13px);
  color: red;
}

.paser {
  font-family: $font-base;

  position: absolute;
  transform: translateY(221px);
  margin-left: 30px;
  color: red;
}

.succesfull {
  position: absolute;
  font-family: $font-base;
  font-size: 20px;
  color: #56d46a;
  font-weight: bold;
  transform: translateY(-55px);
  margin-left: 10px;

}

.unsuccesfull {
  position: absolute;
  font-family: $font-base;

  color: red;
  font-weight: 500;
  transform: translateY(-16px);


}

.submit2 {
  width: 117px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  outline: none;
  font-family: $font-base;
  font-weight: 300;
  margin-left: 265px;
  transform: translateY(140px);

  &:hover {

    border: 1px solid #3C3C3C;


  }
}

.bad {
  position: absolute;
  font-family: $font-base;
  font-weight: 500;
  color: red;
  transform: translateY(-110px);


}

.mainthree {

  width: 100vw;
  height: 384px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/3 Columns Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    margin-right: 150px;
    margin-left: 150px;

    width: 334px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .num {

      color: #5E5322;
      font-size: 90px;
      font-family: 'Open Sans', sans-serif;
      margin: 0;

    }

    .mdes {

      color: #3C3C3C;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      margin-top: 15px;


    }

    .des {
      font-size: 16px;
      color: #3C3C3C;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      margin-top: 28px;

    }


  }

}

.simplebox {
  width: 100vw;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;


  .up {
    width: 500px;
    height: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 38px;
      font-family: 'Open Sans', sans-serif;
      color: #3C3C3C;
      margin-bottom: 25px;


    }

    .dec {

      background-image: url("../assets/Decoration.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 253px;
      height: 33px;

    }


  }


  .mid {

    width: 100vw;
    height: 325px;
    background-color: #F0F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 173px;

    .ovr {

      width: 164px;
      height: 190px;
      display: flex;
      flex-direction: column;

      justify-content: center;
      gap: 8px;
      text-align: center;
      align-items: center;

      .jpg {
        width: 83px;
        height: 83px;
        background-image: url("../assets/Icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

      .jpg2 {
        width: 83px;
        height: 83px;
        background-image: url("../assets/bag.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

      .jpg3 {
        width: 83px;
        height: 83px;
        background-image: url("../assets/loupe.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

      .jpg4 {
        width: 83px;
        height: 83px;
        background-image: url("../assets/Icon1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

      .title {
        margin: 0;
        color: #3C3C3C;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 70px;
          height: 1px;
          background-color: black;
          margin-top: 10.5px;
          position: relative; /* lub absolute, w zależności od potrzeb */
          left: 50%;
          transform: translateX(-50%);


        }


      }

      .des {
        margin: 0;
        color: #3C3C3C;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;


      }

    }
  }

  a {

    text-decoration: none;
  }


  .bottombtn {

    width: 310px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;


    p {


      color: #3C3C3C;
      font-family: 'Open Sans', sans-serif;
      font-size: 36px;
    }

  }


}


.mainabout {

  width: 100vw;
  height: 935px;
  display: flex;

  .left {
    width: 958px;
    height: 935px;
    background-color: #F0F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title {
      margin-top: 186px;

      color: #3C3C3C;
      font-family: 'Open Sans', sans-serif;
      font-size: 38px;


    }

    .dec {
      width: 253px;
      height: 33px;
      background-image: url("../assets/Decoration.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


    }


    .des {
      width: 660px;
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
      color: #3C3C3C;
      margin-top: 70px;


    }

    .bottom {

      width: 660px;
      height: 150px;
      display: flex;
      justify-content: flex-end;

      .sig {
        margin-top: 40px;
        width: 210px;
        height: 150px;
        background-image: url("../assets/Signature.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


      }


    }


  }


  .right {
    width: 942px;
    height: 100%;
    background-image: url("../assets/People.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

}


.mainwho {
  width: 100vw;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;


  .mainboxwho {
    width: 1350px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {


      font-family: 'Open Sans', sans-serif;
      font-size: 38px;
      text-align: center;
      color: #3C3C3C;
      margin-bottom: 25px;

    }

    .dec {

      width: 253px;
      height: 33px;
      background-image: url("../assets/Decoration.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .btns {
      margin-top: 50px;
      width: 750px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button {
        width: 208px;
        height: 80px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        padding: 10px;
        outline: none;
        font-family: $font-base;
        font-weight: 300;
        text-align: center;


        &:hover {

          border: 1px solid #3C3C3C;


        }


      }


    }

    .des {
      margin-top: 70px;
      color: #3C3C3C;
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      text-align: center;
      width: 640px;


    }

    .mainrender {

      width: 1344px;
      height: 170px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 80px;


      .main {
        width: 1344px;
        height: 150px;
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;
        gap: 15px;


        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #707070;
          margin-top: 15px;
        }


      }


      .title {
        color: #3C3C3C;
        font-family: $font-alt;
        font-size: 26px;
        margin: 0;


      }

      .subtitle {
        color: #3C3C3C;
        font-family: $font-alt;
        font-size: 18px;
        margin: 0;


      }

      .desc {

        color: #3C3C3C;
        font-family: $font-alt;
        font-size: 18px;
        margin: 0;


      }


    }


    .nums {
      width: 160px;
      height: 50px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      transform: translateY(240px);

      .square {
        width: 40px;
        height: 50px;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {


          border: 1px solid black;
          cursor: pointer;

        }

      }


    }

  }


}


.Contactmain {
  margin-top: 80px;
  width: 100vw;
  height: 1026px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../assets/Background Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;


  .up{
    height: 946px;
    width: 100%;
    display: flex;
    justify-content: flex-end;


.formbox{
  margin-top: 100px;
  margin-right: 150px;
  width: 540px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

.title{

  color:#3C3C3C ;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;


}
  .dec{

    width: 253px;
    height: 33px;
    background-image: url("../assets/Decoration.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }


  .form{
margin-top: 70px;
    width: 530px;
    height: 215px;
    display: flex;
    flex-direction: column;

    .up{
      width: 100%;
      height: 62px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;



    }


    .down{
      margin-top: 40px;
      width: 100%;
      height:150px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;




.message{
height: 130px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
  gap: 10px;


  label{
    color: #3C3C3C;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;



  }






  textarea{

    width: 528px;
    height: 130px;
    color: #3C3C3C;
    border: none; /* Usuń domyślną ramkę */
    border-bottom: 1px solid #707070; /* Dodaj dolną linię */

    /* Dodaj trochę odstępu od góry i dołu */
    background-color: transparent; /* Ustaw przezroczyste tło */
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    resize: none;
    overflow: hidden;






  }



}





    }

    .name{
      width: 256px;
      height: 62px;



      label{
color: #3C3C3C;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;



      }






      input{

width: 240px;
        color: #3C3C3C;
        border: none; /* Usuń domyślną ramkę */
        border-bottom: 1px solid #707070; /* Dodaj dolną linię */
       padding-top: 15px;
        /* Dodaj trochę odstępu od góry i dołu */
        background-color: transparent; /* Ustaw przezroczyste tło */
        outline: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;




      }


    }

    .email{



      label{
        color: #3C3C3C;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;



      }






      input{

        width: 240px;
        color: #3C3C3C;
        border: none; /* Usuń domyślną ramkę */
        border-bottom: 1px solid #707070; /* Dodaj dolną linię */
        padding-top: 15px;
        /* Dodaj trochę odstępu od góry i dołu */
        background-color: transparent; /* Ustaw przezroczyste tło */
        outline: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;




      }


    }


    .message{



    }



.button{
  display: flex;
  justify-content: flex-end;
  button{

    width: 150px;
    height: 50px;
    border: 1px solid #3C3C3C;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    cursor: pointer;
    background-color: white;

  }


}






  }

}





  }





  .down{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;



    .logos{
   width: 80px;
      height: 30px;
      display: flex;
      gap: 20px;
      margin-right: 150px;
.fb{
  width: 30px;
  height: 30px;
  background-image: url("../assets/Facebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

      .ig{
        width: 30px;
        height: 30px;
        background-image: url("../assets/Instagram.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


      }




    }


.cod{
  margin-right: 600px;
color: #3C3C3C;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;


}



  }
}